.pokeCard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
    margin:.5em;
    width: 15vw;
    min-width: 14em;
    min-height: 24em;
    height: 25vh;
    font-size: .7em;
    color: white;
}

.pokeCard img {
    width: 12vw;
    height: auto;
    min-width: 10em;
    max-height: 12em;
    object-fit: contain;
    align-self: center;
}

.pokeCard ul {
    display:flex;
    justify-content: center;
}

.att{
    border: #ff0000 solid 2px;
    background-color: #ff000088;
}
.def{
    border: #1100ff solid 2px;
    background-color: #1100ff88;
}
.hp {
    border: #15ff00 solid 2px;
    background-color: #15ff0088;
}

.speed {
    border: #b700ff solid 2px;
    background-color: #b700ff88;
}