.pokeCard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
    margin:.25em;
    max-width: 15em;
    min-height: 20em;
    font-size: .7em;
    color: white;
}

.pokeCard img {
    width: 2cm;
    height: 2cm;
    object-fit: contain;
    align-self: center;
}

.pokeCard ul {
    display:flex;
    justify-content: center;
}

.att{
    border: #ff0000 solid 2px;
    background-color: #ff000088;
}
.def{
    border: #1100ff solid 2px;
    background-color: #1100ff88;
}
.hp {
    border: #15ff00 solid 2px;
    background-color: #15ff0088;
}

.speed {
    border: #b700ff solid 2px;
    background-color: #b700ff88;
}

@media screen and (max-width:570px) {
    .pokeCard {
        min-height: unset;
        overflow: hidden;
      }
    .pokeCard img{
        height: 1cm;
        width: 1cm;
    }
    
    .lukeStats{
        display:none;
    }
    .pokeCard:hover .lukeStats {
        display: block;
      }
      .deadPoke:hover .lukeStats {
        display: block;
      }
}