#normal {
    border: #A8A878 solid 2px;
    background-color: #A8A87888;
}

#fire {
    border: #F08030 solid 2px;
    background-color: #F0803088;
}

#water {
    border: #6890F0 solid 2px;
    background-color: #6890F088;
}

#electric {
    border: #F8D030 solid 2px;
    background-color: #F8D03088;
}

#grass {
    border: #78C850 solid 2px;
    background-color: #78C85088;
}

#ice {
    border: #98D8D8 solid 2px;
    background-color: #98D8D888;
}

#fighting {
    border: #C03028 solid 2px;
    background-color: #C0302888;
}

#poison {
    border: #B97FC9 solid 2px;
    background-color: #B97FC988;
}

#ground {
    border: #E0C068 solid 2px;
    background-color: #E0C06888;
}

#flying {
    border: #A890F0 solid 2px;
    background-color: #A890F088;
}

#psychic {
    border: #F85888 solid 2px;
    background-color: #F8588888;
}

#bug {
    border: #A8B820 solid 2px;
    background-color: #A8B82088;
}

#rock {
    border: #B8A038 solid 2px;
    background-color: #B8A03888;
}

#ghost {
    border: #705898 solid 2px;
    background-color: #70589888;
}

#dragon {
    border: #7038F8 solid 2px;
    background-color: #7038F888;
}

#dark {
    border: #705848 solid 2px;
    background-color: #70584888;
}

#steel {
    border: #B8B8D0 solid 2px;
    background-color: #B8B8D088;
}

#fairy {
    border: #EE99AC solid 2px;
    background-color: #EE99AC88;
}

.shinyBackground {
    border: gold;
    background: linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red);
}