form,
.formContainer{
    display:flex;
    color:white;
    flex-direction: column;
    text-align: center;
}
form{
    max-width: 70%;
    min-width: 40%;
    align-self: center;
    gap: 1em;
    background-color: #6161617c;
    border: solid white 2px;
    border-radius: 10px;
    padding: 0.5em;
    margin:0.5em;
}

form input{
    padding: 1em .5em;
    border-radius: 10px;
}

form button{
    height: 60px;
	width: 200px;
	background: #ff0000;
	color: white;
	border: 1px solid white;
    border-radius: 7px;
	cursor: pointer;
    align-self: center;
}