form,
.formContainer{
    display:flex;
    color:white;
    flex-direction: column;
    text-align: center;
}
form{
    max-width: 70%;
    min-width: 40%;
    align-self: center;
    gap: 1em;
    width: 400px;
    background-color: #ffe60094;
    border: solid #ffe600 2px;
    border-radius: 7px;
    padding: 0.5em;
    margin:0.5em;
}

form input{
    padding: 1em .4em;
    width:94%;
    border-radius: 7px;
}

form button{
    align-self: center;
    width:100%;
    padding: 1em .5em;
    background-color:#ff1100a4;
    border: solid 2px #ff1100c7;
    border-radius: 7px;
    color: white;
}

.btn{
    align-self: center;
    width:150px;
    padding: 1em .5em;
    background-color:#ff1100a4;
    border: solid 2px #ff1100c7;
    border-radius: 7px;
    color: white;
}

.btnContainer{
    display: flex;
    justify-content: center;
    gap: 2em;
}