.fightTree{
   color:white;
    display:flex;
    width:400px;
    flex-direction: column;
    text-align: center;
}

.aliveBar,
.trashBar,
.fightContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.bankerContainer,
.playerContainer{
  align-self: center;
}

 .bankerContainer img,
 .playerContainer img{
    max-width: 100%;
    width:24rem;
    height: auto;
    max-height: 300px;
 }

 .aliveBar div,
 .trashBar div{
    max-width: 40%;
 }

 .aliveBar img,
 .trashBar img{
  width: 30px;
  height: 30px;
  object-fit: contain;
 }
 
 .playerAlive img,
 .playerTrash img,
 #playerPic{
   transform: scaleX(-1);
 }

 #playerPic,
 #bankerPic{
  width: 150px;
  height: 150px;
  object-fit: contain;
 }

 .trashBar img{
    opacity: 0.4;
 }
 .fightContainer{
    justify-content: space-around;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.LG7_ujyE1VBRGrFwuOMjjgHaEc%26pid%3DApi&f=1&ipt=e3552fad75ae4b5bdb195ee22664e9c8d95115776991435a1f7e03ab03198cce&ipo=images);
    background-size:cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 2em;
    height:300px

 }

 #fightBtn{
   border-radius: 10px;
   padding: 1em;
   background-color: #ff000080;
   border: solid rgb(255, 0, 0) 2px;
   font-size: 1.4em;
   color:white;
 }
 .playerAtt,
 .bankerAtt,
 .playerDmgAni,
 .bankerDmgAni{
   animation-duration: 0.3s;
   animation-timing-function: ease-in-out;
 }
 .playerAtt {
   animation-name: playerAtt;
 }
 .bankerAtt {
   animation-name: bankerAtt;
 }

 .playerDmgAni{
   display: block;
   animation-name: playerDmg;
 }

 .bankerDmgAni{
   display: block;
   animation-name: bankerDmg;
 }

 .dmgAni{
   display:none;
 }

 .postModal{
  align-items: center;
  color:white;
  font-size: 3em;
  text-align: center;
 }



 @keyframes playerAtt {
   0% { transform: translate(0, 0); }
   50% { transform: translateX(50px); }
   100% { transform: translate(0, 0); }
 }
 @keyframes bankerAtt {
   0% { transform: translate(0, 0); }
   50% { transform: translateX(-50px); }
   100% { transform: translate(0, 0); }
 }

 @keyframes playerDmg {
   0% { transform: translate(0, 0); }
   50% { transform: translate(-40px, -20px); }
   100% { transform: translate(-80px, -10px); }
 }
 @keyframes bankerDmg {
   0% { transform: translate(0, 0); }
   50% { transform: translate(40px, -20px); }
   100% { transform: translate(80px, -10px); }
 }