.postTree{
    display:flex;
    flex-direction: column;
    color: white;
}

.postContainer{
    display:flex;
    flex-wrap: wrap;
    margin-top: .5em;
    gap: .5em;
    justify-content: center;
}

.profileContainer{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.team_urls{
    width: 30px;
    height: 30px;
    object-fit: contain;
    align-self: center;
}

.postedFight{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ff000056;
    border:red solid 2px;
    border-radius: 7px;
    width:4.4cm;
    gap: .3em;
    padding: .2em;
}

.teamDisplay{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: .5em;
}

.fightBtn{
    align-self: center;
    text-align: center;
    width:80%;
    padding: .5em .25em;
    margin-bottom: .25em;
    background-color:#ff110059;
    border: solid 2px #ff1100c7;
    border-radius: 7px;
    color: white;
    flex-wrap: wrap;
}

.team_urls {
    border-radius: 10px;
    margin: .1em;
}