
.rollContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rollContainer button{
    align-self: center;
    width:100%;
    padding: 1em .5em;
    background-color:#ff110059;
    border: solid 2px #ff1100c7;
    border-radius: 7px;
    color: white;
}
.att{
    border: #ff0000 solid 2px;
    background-color: #ff000088;
}
.def{
    border: #1100ff solid 2px;
    background-color: #1100ff88;
}
.hp {
    border: #15ff00 solid 2px;
    background-color: #15ff0088;
}

.speed {
    border: #b700ff solid 2px;
    background-color: #b700ff88;
}

.rollContainer h1{
    color:white;
}


.pokeCard{
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    margin:.5em;
}