
.rollContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:100%
}

.rollContainer button{
    align-self: center;
    width:80%;
    padding: .8em;
    background-color:#ff110059;
    border: solid 2px #ff1100c7;
    color: white;
    border-radius: 10px;
    
}
.rollDisplay {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pokeCatch{
    display:flex;
    flex-direction: column;
    margin: .25em
}

.rollContainer h1{
    color:white;
}

.rollButton {
    margin: 2em 2em 6em 2em;
    max-width: 500px;
}

.ticketInput {
	background-color: #ffffff34;
	color: #e1b503;
    width: 100px;
	border-radius: 6px;
	text-align: center;
	font-size: 2em;
}

.ticketRoll{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: .4em;
}