
.invTree {
    display:flex;
    color:white;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.invTree{
    flex-direction: column;
    justify-content: center;
    background-color: #ffd0005d;
    border: solid rgb(199, 169, 0) 2px;
    width: 1000px; 
}
.teamContainer{
    width: 100%;
    height: fit-content;
    justify-content: center;
}

.teamList{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    width:100%;
    align-self: center;
}

.teamContainer{
    flex-direction: column;
    background-color: #0000008a;
    border:solid rgb(0, 0, 0) 2px;
    justify-content: space-between;
    border-radius: 7px;
    width:95%;
    align-self:center;
    margin: 1em;
    padding:.4em;
}

.pokeCard ul li{
    padding:0 .4em;
}

.delBtns{
    display:flex;
    justify-content: space-around;
}

#saveBtn,
.delBtn{
    align-self: center;
    padding: 1em .5em;
    background-color:#ff1100a4;
    border: solid 2px #ff1100c7;
    border-radius: 7px;
    color: white;
}

.delBtn{
    width:40%;
}

#saveBtn{
    width:70%;
}

.createPost{
    background-color: #ff000056;
    align-self: center;
}

.postModal,
.uniModal{
    display:flex;
    justify-content: center;
}

.teamCard button{
    width:80%;
    border-radius: 10px 10px 0px 0px;
    background-color: #ff000065;
    border: solid red;
}