.invContainer,
.invTree,
.pokeCard,
.pokeCard ul,
.teamList,
.teamContainer,
.attMove{
    display:flex;
    color:white;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.pokeCard{
    flex-direction: column;
    justify-content: space-between;
    border:solid white 1px;
    border-radius: 10px;
    margin:.5em;
    background-color: #bd4444;
}

.invTree{
    flex-direction: column;
    justify-content: center;
}
.invContainer{
    width: 100%;
    justify-content: center;
}
.teamList{
    min-height: 250px;
    border-radius: 10px;
    max-width:80%;
    align-self: center;
    max-height: fit-content;
}

.pokeCard img{
    max-width: 100%;
    height: auto;
    align-self: center;
}
.teamContainer{
    flex-direction: column;
    background-color: #1f095c7e;
    border:solid blue 2px;
    justify-content: space-between;
    width:80%;
    align-self:center;
    margin: 1em;
    padding:.4em;
}
.teamContainer button,
.pokeCard button{
    position: relative;
    border-radius: 10px 10px 0 0;
    background-color: #ffe60094;
    border: 2px solid #ffe600;
}

.pokeCard ul li{
    padding:0 .4em;
}

#saveBtn{
    border-radius: 10px;
    padding: 1em 0;
    width:300px;
    align-self: center;
    background-color:#00ffff6e;
    border: solid 2px #00ffff;
    color: white
}

