* {
  padding: 0;
  margin: 0;
  font-family: monospace;
  text-decoration: none;
  list-style: none;
  box-sizing: 0;
}

/* * {border: solid green 2px; margin: 4px;}
*>*:nth-child(1) {border: solid 2px blue;}
*>*:nth-child(2) {border: solid 2px white;}
*>*:nth-child(3) {border: solid 2px orange;} */

html,
body {
  background-image: linear-gradient(to right, #525252 0%,black 10%,black 90%, #525252 100%);
}

#root{
  display:flex;
  flex-direction: column;
  height: 100dvh;
}

.App{
display: flex;
flex: 1;
justify-content: center;
margin-bottom: 4em;
}

nav {
  display: flex;
  background-color: #ff1100c7;
  border-bottom: solid 2px #ffffff;
  height:80px;
  color:white;
}

.pokeball {
  border-radius: 100%;
  height:80px;
  width: 80px;
}

.pokeball:hover {
  cursor: pointer;
  animation-name: shake;
  animation-duration: 1s;
  animation-iteration-count: 2;
}

.btn_title{
  position: relative;
  margin: 0 2em;
  width: 200px;
  height: 100%;
}

.btn_title .solid,
.btn_title .hollow {
  font-size: 2.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -60%);
  text-align: center;
}

.solid {
  font-family: 'pokefont_solid';
  color: yellow;
}

.hollow {
  z-index: 1;
  font-family: 'pokefont_hollow';
  color: blue;
}
.link_container{
  display:flex;
  margin-left: 3em;
  width:100%;
  justify-content: space-between;
}

.nav_links{
  display:flex;
  max-width: fit-content;
  gap: 1em;
}

.nav_link{
  display:flex;
  width: 75px;
  height: 95%;
  justify-content: center;
  border: solid black 1px;
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 10px;
  color:white;
  font-size: large;
}

.nav_link:hover{
  box-shadow: 3px 3px 0px 0px black;
  transform: translateX(-2px);
}

.linkDiv{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
}

.nav_link li{
  align-self: center;
}

.profile_nav{
  display:flex;
}

.profile_nav img{
  border-radius: 100%
}

.lukemon_tree {
  margin: 2em;
  display: flex;
  text-align: center;
  justify-content: center;
}

.profileBar{
 display: flex;
 align-self: center;
 align-items: center;
 gap: 1em;
}

.profilePic{
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.moneyBar > *{
  margin:.4em;
}

.appBar {
  display: flex;
  display: none;
  position: fixed;
  bottom: 0;
  background-color: black;
  opacity: 0.75;
 font-size: 1.25em;
 width: 100%;
 justify-content: center;
}

.appBar ul {
	display: flex;
	width: 100%;
	justify-content: space-around;
	list-style: none;
}

 .appBar li a{
  text-decoration: none;
  color: white;
  opacity: 1.0;
  padding: .5em;
 }

.appBar li {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.selected  {
  border-top: .2em solid blue;
}

.footer{
  height:50px;
  width: 100%;
}

@keyframes shake {
  20% {
      transform: translateX(-.2rem);
  }

  40% {
      transform: translateX(.2rem);
  }

  50% {
      transform: rotateZ(0.15turn);
  }

  80% {
      transform: rotateZ(-0.15turn);
  }
}

@font-face {
  font-family: 'pokefont_solid';
  src: url('./font/PokemonSolidNormal.woff2') format('woff2');
}

@font-face {
  font-family: 'pokefont_hollow';
  src: url('./font/PokemonHollowNormal.woff2') format('woff2');
}


@media screen and (max-width:750px) {
  .linkDiv{
      display:none;
  }
  .appBar{
    display: block;
  }
}

@media screen and (max-width:450px) {
  .profileBar{
    display: none;
  }
}




