* {border: solid green 2px; margin: 3px;}
*>*:nth-child(1) {border: solid 2px blue;}
*>*:nth-child(2) {border: solid 2px white;}
*>*:nth-child(3) {border: solid 2px orange;}

.taskListTree,
.taskListContainer,
form{
    display:flex;
    flex-direction: column;
    color: white;
}
.taskListTree{
    align-items: center;
    margin: 4em 0;
}
.taskListContainer{
    width: 100%;
    min-width: 300px;
    max-width: 1000px;
    justify-content: center;
    background-color: #ff00ff64;
}
.taskListContainer h1{
    text-align: center;
}

form button{
    align-self: center;
    padding: 1em 4em;
    border: solid black 100px;
    border-radius: 4px;
    background-color: #ffffffb7;
}
form input{
    position: relative;
    align-self: center;
    width: 77%;
    padding: .5em 1em;
    border-radius: 10px;
}
.taskItems{
    display:flex;
    justify-content: space-between;
    width: 100% 
}